 .background-image{
    display: flex;
    background-repeat: no-repeat;
    background-position: center top ;
    background-size: cover;
    margin-top: 10px;
    height: 550px;
    background-image: url(/src/images/hhh.jpg);
    
   
} 
.Header-text{
    background-color: white;
    width: 40%;
    margin: auto;
    padding: 2.5rem;
    border-radius: 4px;
}

.Tasker-Header{
    font-size: 2.5rem;
    line-height: 49px;
    max-width: 432px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.Tasker-body{
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    font-weight: normal;
}

.Task-form {
   margin: 0 10px;
   width: 380px;
   }

.btn-primary{
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}
.btn-link{
    color: #24a0ed;
    border: 1px solid #24a0ed;
    background-color: #fff;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.Welcome{
    text-align: center;
    font-size: 50px;

}





