.form-background{
    background-repeat: no-repeat;
    background-position: center top ;
    background-size: cover;
    height: auto;
    background-image: url(/src/assets/images/login-signup.jpg);
    margin: 0;
    padding-bottom: 50px;
}
.logo-chooser {
    width: 250px;
    height: 60px;
}
a {
    text-decoration: none;
    color: #24a0ed;
}