.footer {
    background-color: grey;
    padding-top: 30px;
    
}

.link {
    text-decoration: none;
    color: white;
    font-size: 22px;
}
 .footericons {
    color:#ffff;
    font-size: 25px;
} 
