.footer {
    background-color: rgba(71, 132, 247, 0.253);
    padding-top: 30px;
}

.link {
    text-decoration: none;
    color: #24a0ed;
    font-size: 22px;
    opacity: 1;
}
.footericons {
    color:#24a0ed;
    font-size: 25px;
    opacity: 1;
} 
